@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-bottom: 6vh;
  margin-top: 2vh;
  text-align: center;
}

p {
  margin-bottom: 5vh;
}

#divQCM p {
  font-size: 20px;
  margin-left: 10vw;
}

input[type="submit"],
button {
  display: block;
  background-color: transparent;
  padding: 0.5em 1em;
  border-radius: 1em;
  border-color: grey;
  margin-top: 2vw;
  margin-bottom: 3vw;
}

button {
  margin-left: 12vw;
}

input[type="radio"]:checked {
  accent-color: grey;
}

label {
  padding-left: 1vw;
}

.divForm {
  margin-bottom: 2vh;
}

form {
  margin-left: 14vw;
}

#choices {
  font-size: 14px;
  margin-left: 12vw;
  margin-bottom: 2vh;
}

#question {
  margin-left: 8vw;
  font-size: 20px;
  margin-top: 1vh;
  margin-bottom: 2vh;
}
