body {
  background-color: white;
}

h1,
ul {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
}

ul {
  min-width: 50vw;
  min-height: 25vw;
}

button {
  display: block;
  margin: auto;
}
