* {
  cursor: url("https://www.patmax.info/curseurs/chat1.cur"), pointer;
}

#urlImage {
  width: auto;
  height: 30vh;
}

#imageChat {
  max-height: 50vh;
  max-width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
}

h1,
button {
  display: block;
  text-align: center;
}

body {
  display: flex;
  justify-content: flex-start;
}

#curseur {
  display: block;
  margin: auto;
  text-align: center;
}

button {
  position: relative;
  left: 20vw;
}

#chat,
#curseur {
  width: 50vw;
}
